<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE log4j:configuration PUBLIC "-//LOGGER" "http://logging.apache.org/log4j/1.2/apidocs/org/apache/log4j/xml/doc-files/log4j.dtd">
<log4j:configuration>

	<appender name="stdout" class="org.apache.log4j.ConsoleAppender">
		<layout class="org.apache.log4j.PatternLayout">
			<param name="ConversionPattern" value="%d{yyyy-MM-dd HH:mm:ss} %5p %m%n" />
		</layout>
	</appender>

	<appender name="logFile" class="org.apache.log4j.FileAppender">
		<param name="File" value="log/osmaxil-last-run-log.txt" />
		<param name="Append" value="false" />
		<layout class="org.apache.log4j.PatternLayout">
			<param name="ConversionPattern" value="%d{yyyy-MM-dd HH:mm:ss} %5p %m%n" />
		</layout>
	</appender>

	<appender name="statsFile" class="org.apache.log4j.FileAppender">
		<param name="File" value="stats/osmaxil-last-run-stats.txt" />
		<param name="Append" value="false" />
		<layout class="org.apache.log4j.PatternLayout">
			<param name="ConversionPattern" value="%m%n" />
		</layout>
	</appender>

	<logger name="org.openstreetmap.osmaxil" additivity="false">
		<level value="info" />
		<appender-ref ref="stdout" />
		<appender-ref ref="logFile" />
	</logger>

	<logger name="org.openstreetmap.osmaxil.step.StatisticsStep" additivity="false">
		<level value="info" />
		<appender-ref ref="stdout" />
		<appender-ref ref="statsFile" />
	</logger>

	<root>
		<level value="info" />
		<appender-ref ref="stdout" />
		<appender-ref ref="logFile" />
	</root>

</log4j:configuration>